@using ComTechNetCoreApp.Models
@using ComTechNetCoreApp.Models.Enums
@model ComTechNetCoreApp.Models.Subdivision
@{
    ViewData["Title"] = "CreateSubdivision";
}

<h2>Добавление/изменение кафедры</h2>
<form asp-action="CreateSubdivision" asp-controller="Home" method="post">
    <input type="hidden" asp-for="SubdivisionId"/>
    <table>
        <tr>
            <td>
                <label asp-for="SubdivisionName"></label>
            </td>
            <td>
                <input asp-for="SubdivisionName"/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="SubdivisionСreateYear"></label>
            </td>
            <td>
                <input asp-for="SubdivisionСreateYear" asp-format="{0:dd/MM/yyyy}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Faculty"></label>
            </td>
            <td>
                <select asp-for="Faculty" asp-items="Html.GetEnumSelectList<EFaculty>()" class="form-control"></select>
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="Обновить БД"/>
</form>

