@using ComTechNetCoreApp.Models
@using ComTechNetCoreApp.Models.Enums
@model ComTechNetCoreApp.Models.Subdivision
@{
    ViewData["Title"] = "CreateSubdivision";
}

<h2>Добавление/изменение кафедры</h2>
<form asp-action="CreateSubdivision" asp-controller="Home" method="post">
    <input type="hidden" asp-for="SubdivisionId"/>
    <table>
        <tr>
            <td>
                <label asp-for="SubdivisionName"></label>
            </td>
            <td>
                <div>
                    <input asp-for="SubdivisionName"/>
                    <span asp-validation-for="SubdivisionName"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="SubdivisionСreateYear"></label>
            </td>
            <td>
                <input asp-for="SubdivisionСreateYear" asp-format="{0:dd/MM/yyyy}"/>
                <span asp-validation-for="SubdivisionСreateYear" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Faculty"></label>
            </td>
            <td>
                <select asp-for="Faculty" asp-items="Html.GetEnumSelectList<EFaculty>()" class="form-control"></select>
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="Обновить БД"/>
</form>

@section scripts{
 
    <environment names="Development">
    </environment>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}

