@model ComTechNetCoreApp.Models.Lecturer
@{
    ViewData["Title"] = "CreateLecturer";
}

<h2>Добавление/изменение преподавателя</h2>
<form asp-action="CreateLecturer" asp-controller="Home" method="post">
    <input type="hidden" asp-for="LecturerId" />
    <table>
        <tr>
            <td>
                <label asp-for="Surname"></label>
            </td>
            <td>
                <input asp-for="Surname" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="FirstName"></label>
            </td>
            <td>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Patronymic"></label>
            </td>
            <td>
                <input asp-for="Patronymic" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Position"></label>
            </td>
            <td>
                <input asp-for="Position" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="ScienceGrade"></label>
            </td>
            <td>
                <input asp-for="ScienceGrade" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Subdivision"></label>
            </td>
            <td>
                <select asp-for="SubdivisionId" asp-items="@(new SelectList(ViewBag.AllSubdivisions, nameof(Subdivision.SubdivisionId), nameof(Subdivision.SubdivisionName)))" class="form-control"></select>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="WorkStartDate"></label>
            </td>
            <td>
                <input asp-for="WorkStartDate" type="date" asp-format="{0:dd/MM/yyyy}" value="01/01/1960"/>
                <span asp-validation-for="WorkStartDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Note"></label>
            </td>
            <td>
                <input asp-for="Note" />
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Обновить БД" />
</form>

@section scripts{
 
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}
